<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= t('reservations.new.title') %></title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><%= t('reservations.new.title') %></h3>
        </div>
        <div class="card-body">
          <%= render 'form' %>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <%= link_to t('reservations.new.back_to_list'), reservations_path, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
